* {
    font-size: 20px;
}

.main {
    background-color: rgb(100, 183, 231);
    margin: 20px;
    padding: 20px;
    height: 300px;
    width: 460px;
    position: relative;
}

.block {
    background-color: rgb(134, 93, 49);
    height: 100px;
    width: 100px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.bottom {
    background-color: pink;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.menu {
    background-color: yellow;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.content {
    background-color: green;
    height: 30px;
    width: 30px;
    margin: 20px;
}
