.container{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(162, 162, 162);
    position: relative;
}

.containertop{
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.box {
    padding: 10px;
}

.box#green {
    background-color: green;
    height: 300px;
    width: 200px;

}

.box#blue {
    background-color: rgb(132, 181, 211);
    height: 300px;
    width: 200px;
}

.box#orange {
    background-color: rgb(226, 150, 9);
    height: 100px;
    width: 400px;

}

.grey {
    height: 250px;
    width: 250px;
    background-color: grey;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
}