.container{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.containertop{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}


.box#green {
    background-color: green;
    height: 300px;
    width: 200px;

}

.box#blue {
    background-color: rgb(132, 181, 211);
    height: 300px;
    width: 200px;
}

.box#orange {
    background-color: rgb(226, 150, 9);
    height: 100px;
    width: 100%;
}

#black {
    background-color: black;
    height: 100px;
    width: 100px;
    position: absolute;
    right: -10px;
    top: -10px;
}

.grey {
    height: 250px;
    width: 250px;
    background-color: rgb(197, 197, 197);
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
}