.container{
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: rgb(162, 162, 162);
}

.box {
    padding: 10px;
}

.box#green {
    background-color: green;
    grid-row: span 3;
    grid-column: span 2;
}

.box#blue {
    background-color: rgb(132, 181, 211);
    grid-column: 3;
    grid-row: 1;
    grid-row: span 3;
    grid-column: span 2;
}

.box#orange {
    background-color: rgb(226, 150, 9);
    height: 100px;
    width: 400px;
    grid-row: 4;
    grid-row: span 1;
    grid-column: span 4;
}

.grey {
    height: 250px;
    width: 250px;
    background-color: grey;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
}